<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.css" integrity="sha512-f73UKwzP1Oia45eqHpHwzJtFLpvULbhVpEJfaWczo/ZCV5NWSnK4vLDnjTaMps28ocZ05RbI83k2RlQH92zy7A==" crossorigin="anonymous" />
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.min.js" integrity="sha512-DZqqY3PiOvTP9HkjIWgjO6ouCbq+dxqWoJZ/Q+zPYNHmlnI2dQnbJ5bxAHpAMw+LXRm4D72EIRXzvcHQtE8/VQ==" crossorigin="anonymous"></script>
    <title>Boolflix</title>
  </head>
  <body>

    <div id="app">
      <header>
        <div class="left">
          <h1>Boolflix</h1>
        </div>
        <div class="right">
          <input type="text" name="" value="" v-model="userInput">
          <button type="button" name="button" @click="search">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </header>

      <main>
        <div class="card" v-for="movie in movies">
          <img :src="getPosterPath(movie)" alt="movie.title">
          <div class="info">
            <p>
              <strong>Titolo: </strong>
              {{ movie.title }}
              {{ movie.name }}
            </p>
            <p>
              <strong>Titolo originale: </strong>
              {{ movie.original_title }}
              {{ movie.original_name }}
            </p>
            <p>
              <strong>Lingua originale: </strong>
              <img class="flag" :src="languageToFlag(movie)" :alt="movie.original_language">
            </p>
            <p>
              <strong>Voto: </strong>
              <i class="far fa-star" v-for="(star, index) in 5" :class="(index+1 <= movie.vote_average) ? 'fas' : 'far'"></i>
            </p>
            <p>
              <strong>Trama: </strong>
              {{ movie.overview }}
            </p>
          </div>
        </div>
      </main>
    </div>

    <script src="js/script.js" charset="utf-8"></script>
  </body>
</html>
